<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Application Name</title>
<link rel="stylesheet" href="css/normalize.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<header>
		<h1>Application Name</h1>
	</header>
	<section class="container">
		<aside>
			{include file='_sidemenu.tpl'}
		</aside>
		<article>
			<h2>Application Name</h2>
			<p>Text Body.</p>
		</article>
	</section>
	<footer>{include file='_footer.tpl'}</footer>
</body>
</html>
